name: frontend_flutter
description: "A new Flutter project."
publish_to: 'none'
version: 1.0.0+1

environment:
  sdk: ^3.9.2

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.8
  intl: ^0.20.2
  excel: ^2.0.0
  universal_html: ^2.0.6
  path_provider: ^2.0.14
  sqflite_common_ffi: ^2.3.3
  sqlite3_flutter_libs: ^0.5.22
  crypto: ^3.0.3

dev_dependencies:
  flutter_test:
    sdk: flutter

  flutter_lints: ^5.0.0

flutter:
  uses-material-design: true
